:root {
    --scale: 110px;

    --rotateX: -20deg;
    --rotateY: -20deg;

    --shadowX: 0px;
    --shadowY: 0px;

    font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
}

h2 {
    font-weight: normal;
    margin: 0;
}

h3 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
}

hr {
    border: 1px white solid;
    width: 100%;
}

.mainDiv {
    display:flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.cardDiv {
    height: calc(4 * var(--scale));
    width: calc(3 * var(--scale));

    /*background-color: white;*/

    perspective: 1000px;
}

.cardInner {
    display: flex;
    flex-direction: column;

    align-items: center;


    position: relative;
    width: 100%;
    height: 100%;
    /*transition: transform 0.6s;*/
    transform-style: preserve-3d;

    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 80%, rgba(237, 221, 83, 1) 100%);

    background-clip: padding-box;

    border-radius: 15px;

    color: white;

    box-shadow: gray 4px 4px 8px;

    transition: all 0.6s ease;

}



.cardInner.flipped {
    transform: rotateY(-180deg);
}

/*.cardInner.hovered {*/
/*    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));*/
/*}*/

.cardImgContainer img {
    height: 100%;
    width: 80%;
    object-fit: cover;

    border-radius: 15px;

}


.cardImgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;

    flex: 1;

    margin: 0;

    padding-top: 20px

}

.cardFront, .cardBack {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.cardFront {
    display: flex;
    flex-direction: column;
}

.cardBack {
    transform: rotateY(180deg);
}

.horizontalCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    height: 100%;

}


